<div class="about-wrap"><div class="container">
        <div class="about">
            <div class="about-headline">
                <h2 class="text__title">ABOUT US</h2>
                <p class="about-headline__subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet</p>
            </div>
            <div class="about-team">
                <div class="about-items">
                    <div class="about-text">
                        <p class="about-text__subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam
                            nonumy eirmod tempor invidunt ut
                            labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores
                            et ea
                            rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            Lorem
                            ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.</p>
                    </div>
                    <div class="about-photo">
                        <div class="about-photo__team"><img class="about-photo__images" src="/images/Khalil Uddin.png"
                                alt="Khalil Uddin">
                            <p class="about-photo__title"> MD. KHALIL UDDIN</p>
                            <p class="about-photo__subtitle"> Head of Ideas</p>
                        </div>
                        <div class="about-photo__team"><img class="about-photo__images" src="/images/Rubell Miah.png"
                                alt="Rubel Miah">
                            <p class="about-photo__title"> RUBEL MIAH</p>
                            <p class="about-photo__subtitle"> Lead WordPress Developer</p>
                        </div>
                    </div>
                </div>
                <div class="about-items">
                    <div class="about-text">
                        <p class="about-text__subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam
                            nonumy eirmod tempor invidunt ut
                            labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores
                            et ea
                            rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            Lorem
                            ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.</p>
                    </div>
                    <div class="about-photo">
                        <div class="about-photo__team"><img class="about-photo__images" src="/images/Shamim Mia.png"
                                alt="Shamim Mia">
                            <p class="about-photo__title"> SHAMIM MIA</p>
                            <p class="about-photo__subtitle"> St. Web Developer</p>
                        </div>
                        <div class="about-photo__team"><img class="about-photo__images" src="/images/John Doe.png"
                                alt="John Doe">
                            <p class="about-photo__title"> JOHN DOE</p>
                            <p class="about-photo__subtitle"> Front-end Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></div>