<div class="container blog-wrap">
    <div class="blog">
        <div class="blog-headline">
            <h2 class="text__title">RECENT BLOG POSTS</h2>
            <p class="blog-headline__subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet</p>
        </div>
        <div class="blog-news">
            <div class="blog-top">
                <div class="blog-top__picture"><img class="blog-news__images" src="/images/blog-news 1.png" alt="news #1"></div>
                <div class="blog-top__text">
                    <h3 class="blog-top__title">STARTUP IDEAS NEEDS TO
                        BE FUNDED</h3>
                    <h4 class="blog-top__author">By Khalil Uddin in Development</h4>
                    <p class="blog-top__subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                        accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est
                        Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam </p>
                    <h3 class="blog__read">READ MORE</h3>
                </div>
            </div>
            <div class="blog-bottom">
                <div class="blog-bottom__picture"><img class="blog-news__images" src="/images/blog-news 2.png" alt="news #2"></div>
                <div class="blog-bottom__text">
                    <h3 class="blog-bottom__title">USER INTERFACE DESIGNING
                        ELEMENTS</h3>
                    <h4 class="blog-bottom__author">By Khalil Uddin in Development</h4>
                    <p class="blog-bottom__subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                        accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est
                        Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam </p>
                    <h3 class="blog__read">READ MORE</h3>
                </div>
            </div>
        </div>
    </div>
</div>