<div class="clients-wrap">
    <div class="container">
        <div class="clients">
            <div class="clients-company">
                <div class="clients-company__logo"><img class="clients-company__images" src="/images/deorham.png"
                        alt="deorham"></div>
                <div class="clients-company__logo"><img class="clients-company__images" src="/images/Ratings.png"
                        alt="Ratings"></div>
                <div class="clients-company__logo"><img class="clients-company__images" src="/images/Malik Media.png"
                        alt="Malik Media">
                </div>
                <div class="clients-company__logo"><img class="clients-company__images" src="/images/bcause.png"
                        alt="Bcause"></div>
                <div class="clients-company__logo"><img class="clients-company__images" src="/images/womqify.png"
                        alt="Womqify"></div>
            </div>
            <div class="clients-text">
                <p class="clients-text__subtitle">"Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis
                    dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum”</p>
                <p class="clients-text__author">John Doe, Google Inc.</p>
            </div>
        </div>
    </div>
</div>