<div class="container contact-wrap">
    <div class="contact">
        <div class="contact-headline">
            <h2 class="text__title">GET IN TOUCH</h2>
            <p class="contact-headline__subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
        </div>
        <div class="contact-information">
            <div class="contact-information__address"><img src="/images/fa-map-marker.png" alt="map-marker">
                <h3 class="contact-information__title">ADDRESS</h3>
                <p class="contact-information__subtitle">312, 7th Ave, New York
                    NY 101200, United States of America</p>
            </div>
            <div class="contact-information__hotline"><img src="/images/fa-mobile-phone.png" alt="mobile phone">
                <h3 class="contact-information__title">HOTLINE</h3>
                <p class="contact-information__subtitle">+65 0052 300, +65 88251 210
                    +88 01723 511 340</p>
            </div>
            <div class="contact-information__email"><img src="/images/fa-envelope-o.png" alt="mail">
                <h3 class="contact-information__title">E-MAIL</h3>
                <p class="contact-information__subtitle">shapedtheme@gmail.com
                    khalilkode@gmail.com</p>
            </div>
        </div>
        <div class="contact-forms">
            <input class="contact-forms__input" type="text" name="name" placeholder="Name">
            <input class="contact-forms__input" type="email" name="email" id="#" placeholder="Your E-mail">
            <input class="contact-forms__input" type="text" name="subject" placeholder="Your Subject">
            <input class="contact-forms__input" type="text" name="company name" placeholder="Company Name">
            <textarea class="contact-forms__textarea" name="Your Massage" id="#" cols="30" rows="10"
                placeholder="Write Your Massage"></textarea>
            <div class="contact-bottom">
                <div class="contact-bottom__button"><button class="contact-bottom__btn">SEND MESSAGE</button></div>
                <div class="contact-bottom__text">
                    <p class="contact-bottom__subtitle">* We’ll contact you as as possible. We don’t reply on Monday.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>