<footer class="footer-wrap">
    <div class="container">
        <div class="footer">
            <div class="footer-social"><img class="footer-social__images" src="/images/twitter.png" alt="twittwer"><img
                    class="footer-social__images" src="/images/twitter.png" alt="twittwer"><img
                    class="footer-social__images" src="/images/twitter.png" alt="twittwer"><img
                    class="footer-social__images" src="/images/twitter.png" alt="twittwer"></div>
            <div class="footer-text">
                <p class="footer-text__subtitle">© 2015 Startup, Designed by ShapedTheme</p>
            </div>
        </div>
    </div>
</footer>