<header class="header">
    <div class="container header-wrap">
        <div class="header-navbar">
            <div class="header-navbar__logo">
                <img class="header-navbar__img" src="/images/Startup-logo.png" alt="logo startup">
            </div>
            <button class="header-navbar__btn"><span></span><span></span><span></span></button>
            <div class="header-navbar__menu">
                <a class="header-navbar__links" href="#">Home</a> <a class="header-navbar__links" href="#">Services</a>
                <a class="header-navbar__links" href="#">About</a> <a class="header-navbar__links" href="#">Works</a> <a
                    class="header-navbar__links" href="#">Blog</a> <a class="header-navbar__links" href="#">Clients</a>
                <a class="header-navbar__links" href="#">Contact</a>
            </div>
        </div>
        <div class="header-main">
            <div class="header-main__text">
                <h1 class="header-main__title">WELCOME TO STARTUP</h1>
                <p class="header-main__subtitle">Your Favourite Creative Agency Template</p>
                <div class="header-main__button">
                    <button class="header-main__btn">GET STARTED</button>
                </div>
            </div>
        </div>
    </div>
</header>