<div class="container services-wrap">
    <div class="services">
        <div class="services-text">
            <h2 class="text__title">SERVICES</h2>
            <p class="services-text__subtitle">We offer ipsum dolor sit amet, consetetur sadipscing elitr amet</p>
        </div>
        <div class="services-types">
            <div class="services-types__items"><img class="services-types__images" src="/images/fa-font.png" alt="typography">
                <h3 class="services-types__title">CLEAN TYPOGRAPHY</h3>
                <p class="services-types__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore
                    harum ex magni, dicta impedit. Lorem ipsum.</p>
            </div>
            <div class="services-types__items"><img class="services-types__images" src="/images/fa-code.png" alt="rock solid code">
                <h3 class="services-types__title">ROCK SOLID CODE</h3>
                <p class="services-types__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore
                    harum ex magni, dicta impedit. Lorem ipsum.</p>
            </div>
            <div class="services-types__items"><img class="services-types__images" src="/images/fa-support.png" alt="expert support">
                <h3 class="services-types__title">EXPERT SUPPORT</h3>
                <p class="services-types__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore
                    harum ex magni, dicta impedit. Lorem ipsum.</p>
            </div>
        </div>
    </div>
</div>