<div class="container works-wrap">
    <div class="works">
        <div class="works-text">
            <h2 class="text__title">LATEST WORKS</h2>
        </div>
        <div class="works-nav"><a class="works-nav__link" href="#">All</a><a class="works-nav__link"
                href="#">Branding</a><a class="works-nav__link" href="#">Design</a><a class="works-nav__link"
                href="#">Development</a><a class="works-nav__link" href="#">Strategy</a></div>
    </div>
    <div class="works-items">
        <div class="works-items__element">
            <div class="works-items__element_overlay">
                <h4 class="works-items__text">Text</h4><button class="works-items__btn">View</button>
            </div><img class="works-items__images" src="/images/works 1.png" alt="works 1">
        </div>
        <div class="works-items__element">
            <div class="works-items__element_overlay">
                <h4 class="works-items__text">Text</h4><button class="works-items__btn">View</button>
            </div><img class="works-items__images" src="/images/works 2.png" alt="works 2">
        </div>
        <div class="works-items__element">
            <div class="works-items__element_overlay">
                <h4 class="works-items__text">Text</h4><button class="works-items__btn">View</button>
            </div><img class="works-items__images" src="/images/works 3.png" alt="works 3">
        </div>
        <div class="works-items__element">
            <div class="works-items__element_overlay">
                <h4 class="works-items__text">Text</h4><button class="works-items__btn">View</button>
            </div><img class="works-items__images" src="/images/works 4.png" alt="works 4">
        </div>
        <div class="works-items__element">
            <div class="works-items__element_overlay">
                <h4 class="works-items__text">Text</h4><button class="works-items__btn">View</button>
            </div><img class="works-items__images" src="/images/works 5.png" alt="works 5">
        </div>
        <div class="works-items__element">
            <div class="works-items__element_overlay">
                <h4 class="works-items__text">Text</h4><button class="works-items__btn">View</button>
            </div><img class="works-items__images" src="/images/works 6.png" alt="works 6">
        </div>
        <div class="works-items__element">
            <div class="works-items__element_overlay">
                <h4 class="works-items__text">Text</h4><button class="works-items__btn">View</button>
            </div><img class="works-items__images" src="/images/works 7.png" alt="works 7">
        </div>
        <div class="works-items__element">
            <div class="works-items__element_overlay">
                <h4 class="works-items__text">Text</h4><button class="works-items__btn">View</button>
            </div><img class="works-items__images" src="/images/Works 8.png" alt="works 8">
        </div>
        <div class="works-items__element">
            <div class="works-items__element_overlay">
                <h4 class="works-items__text">Text</h4><button class="works-items__btn">View</button>
            </div><img class="works-items__images" src="/images/works 9.png" alt="works 9">
        </div>
    </div>
</div>
<div class="works-bottom">
    <div class="container works-bottom-wrap">
        <div class="works-bottom__text">
            <h2 class="works-bottom__title">Do you like OUR WORK so far?</h2>
                <h2 class="works-bottom__title">Let's talk about YOUR PROJECT!</h2>
        </div>
        <div class="works-bottom__button"><button class="works-bottom__btn">GET IN TOUCH</button></div>
    </div>
</div>